{% extends base %}
{% block header %}
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
{% endblock %}
{% block javascript %}
  function imgError(source) {
    source.src = "/static/lizardman.jpg";
    source.onerror = "";
    return true;
  }
  function updateSelection() {
    var selection = window.location.hash;
    $('.sel').css('font-weight', 'normal').each(function(index, elem) {
      var href = $(elem).attr('href')
      if (href == selection || href == '#'+selection) {
        $(elem).css('font-weight', 'bold');
      }
    });
    if (selection.substring(1, 5) == "thm_") {
      var stafir = selection.substring(6, 20);
      $('.thm').each(function(index, elem) {
        var name = $(elem).find('.nafn').html();
        if (-1 == stafir.indexOf(name.substring(0, 1))) {
          $(elem).hide();
        } else {
          $(elem).show();
        }
      });
    } else if (selection.substring(1, 7) == 'thmfl_') {
      $('.thm').hide();
      $('.thm_fl_'+selection.substring(7, 8)).show();
    } else if (selection == '#skroparar') {
      $('.thm').hide();
      $('.thm_skropari').show();
    } else if (selection == '#velmenni') {
      $('.thm').hide();
      $('.thm_velmenni').show();
    } else if (selection == '#uppreisnarseggir') {
      $('.thm').hide();
      $('.thm_uppreisnarseggur').show();
    } else if (selection == '#x13') {
      $('.thm').hide();
      $('.thm_x13').show();
    } else if (selection == '#allir' || selection == '#' || selection == '') {
      $('.thm').show();
    }
  }
{% endblock %}
{% block css %}
  #thingmenn {width: 780px; margin: 10px auto;}
  .thm {display: inline-block; width: 240px; height: 80px; padding: 0 4px 0 0;
        position: relative; font-size: 0.8em; margin: 5px; opacity: 0.80;
        border-right: 1px solid #ddd; border-bottom: 1px solid #bbb;
        overflow: hidden; line-height: 1.4em;}
  .thm_fl_D {background: #bbf;}
  .thm_fl_S {background: #faa;}
  .thm_fl_V {background: #fc7;}
  .thm_fl__ {background: #ddd;}
  .thm_fl_B {background: #cfc;}
  .thm_fl_O {background: #eef;}
  .thm p {padding: 0;}
  .thm img {height: 100%; max-width: 25%; float: left; margin: 0 4px 0 0;}
  .thm .flokkur, .thm .x13 {font-size: 0.85em; font-weight: bold;
                            float: right; margin: 0 0 4px 4px;}
  .thm .flokkur:before {content: "(";}
  .thm .flokkur:after {content: ")";}
  .thm .nafn {font-size: 1.25em;}
  .thm .bio {position: absolute; bottom: 0; right: 4px;}
  .thm ul {list-style-type: none; position: absolute; bottom: 0; left: 30%;
           font-size: 0.85em;}
  .thm li {margin: -2px 5px; padding: 0px;}
  .thm li.h:before {content: 'Hlýðni: ';}
  .thm li.m:before {content: 'Mæting: ';}
  #flokkar {text-align: center; font-size: 1.25em;}
  #flokkar .thingflokkar {font-size: 0.9em;}
  .fl {font-size: 0.8em; padding: 0 0.5em; margin: 2px 0; display: inline-block;}
{% endblock %}
{% block title %}Þingmenn og varaþingmenn{% endblock %}
{% block content %}
  <div id='flokkar'>
    <a class='sel fl' href='#'>Allir þingmenn</a
   ><a class='sel fl' href='#x13'>Framboð 2013</a><br>
    <a class='sel fl' href='#skroparar'>Skróparar</a
   ><a class='sel fl' href='#velmenni'>Vélmenni</a
   ><a class='sel fl' href='#uppreisnarseggir'>Uppreisnarseggir</a><br>
    <a class='sel fl' href='#thm_aábcdðAÁBCDÐ'>A Á B D</a
   ><a class='sel fl' href='#thm_eéfgEÉFG'>E É F G</a
   ><a class='sel fl' href='#thm_hiíjHIÍJ'>H I Í J</a
   ><a class='sel fl' href='#thm_klmnKLMN'>K L M N</a
   ><a class='sel fl' href='#thm_oópqrOÓPQR'>O Ó P R</a
   ><a class='sel fl' href='#thm_stuúvwSTUÚVW'>S T U Ú V</a
   ><a class='sel fl' href='#thm_xyýzþæöXYÝZÞÆÖ'>Y Ý Ö Æ Þ</a
   ><br><span class='thingflokkar'>{% for fl in flokkar %}
   <a class='sel fl' href='#thmfl_{{ fl.stafur }}'>{{ fl.nafn }}</a>{% endfor %}
   </span>
  </div><hr>
  <div id='thingmenn'>
{% for ti in thingmenn %}
    <div class='thm thm_fl_{{ ti.flokksstafur }} {% if ti.thm.toppfimm %}thm_x13 {% endif %}{% if ti.skropari %}thm_skropari {% endif %}{% if ti.uppreisnarseggur %}thm_uppreisnarseggur {% endif %}{% if ti.velmenni %}thm_velmenni {% endif %}'
         id='thm_{{ ti.thm.stafir }}'>
      <p class='info'>{% if ti.thm.toppfimm %}
        <span class='x13' title='{{ ti.thm.iframbodifyrir }}'>{{ ti.thm.frambodsstafir }}</span>
      {% else %}{% if not ti.flokksstafur == '_' %}
        <span class='flokkur'>{{ ti.flokksstafur }}</span>{% endif %}{% endif %}
        <a href='/thingmenn/{{ ti.thm.althingi_id }}/'>
          <img src='{{ ti.thm.url_mynd }}' alt='' onError='imgError(this);'>
          <span class='nafn'>{{ ti.thm.nafn }}</span>
        </a>
      </p>
      <ul class='stats'>{% if not ti.flokksstafur == '_' %}
        <li class='h'>{{ ti.thm.hlydni }}</li>{% endif %}
        <li class='m'>{{ ti.thm.maeting }}{% if ti.thm.varamadur %} <span title='Varamaður'>(vþm)</span>{% endif %}</li>
      </ul>
      <a class='bio' href='/thingmenn/{{ ti.thm.althingi_id }}/'>meira ...</a>
    </div>
{% endfor %}
  </div>
  <script language='javascript'>
    $('.sel').click(function() {
      setTimeout("updateSelection();", 25); return true;
    });
    updateSelection();
  </script>
{% endblock %}
